body {
  background: #e6f2ff;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #004080;
}

.hidden {
  display: none;
}

#login {
  margin-top: 100px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  background: #66b2ff;
  color: white;
  cursor: pointer;
}

.menu button {
  margin: 5px;
}

.section {
  margin-top: 30px;
}

.gallery img {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
}

